$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$grid-gutter-width: 60px;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1300px
);

$link-color: inherit;
$link-decoration: none;
$link-hover-color: inherit;
$link-hover-decoration: none;

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/sofiapro-light-webfont.woff2') format('woff2'),
    url('../fonts/sofiapro-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

pre {
  background: black;
  padding: 10px 20px;
  color: white;
  overflow: scroll;
}

a {
  &:hover {
    color: #f4226b;
    text-decoration: none;    
  }
}

.primary {
  color: #f4226b;
}

.list-unstyled {
  list-style: none;
}

.main {
  ul {
    list-style: none;
    padding-left: 0;
    li { 
      position: relative;
      padding-left: 1.5em;
      &:before {
        content: "";
        border-color: transparent #111;
        border-style: solid;
        border-width: 0.35em 0 0.35em 0.45em;
        display: block;
        height: 0;
        width: 0;
        // left: -1.5em;
        left: 0;
        top: 0.4em;
        position: absolute;
      }
    }
  }
}

@media (max-width: 768px) {
  html {
    font-size: 18px;
  }
}

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
// @import "node_modules/bootstrap/scss/reboot";
// @import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/utilities";

@import "forms";
@import "sections";
@import "navbar";