input, textarea {
    max-width: 100%;
    width: 100%;
    line-height: 2;
    background: #f3f3f5;
    background: rgba(147, 147, 156, 0.1);
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid #d6d6e2;
    padding: 1px 16px;
    transition: background .3s ease-in-out;
    &:focus {
        outline: none;
        background: rgba(147, 147, 156, 0.16);    
    }
}
textarea {
    line-height: 1.4;
    padding: 12px 16px;
}

.form-group {
    margin-bottom: 1.5rem;
}

input[type=submit] {
    cursor: pointer;
    background: white;
    border: 1px solid black;
    &:hover {
        background: #f7f7f7;
    }
}