.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (max-width: 767px) {
  .container {
    // padding-right: 15px;
    // padding-left: 15px;
  }
}

.mt-6 {
  margin-top: 6rem;
}

.col-sm-5ths {
  width: 100%;
}

.col-5ths {
  flex: 0 0 20%;
  max-width: 20%;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.no-gutters {
  margin-left: 0px;
  margin-right: 0px;
  > div[class*=col] {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.wide-gutters {
  margin-left: -60px;
  margin-right: -60px;
  > div[class*=col] {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.narrow-gutters {
  margin-left: -15px;
  margin-right: -15px;
  > div[class*=col] {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.line {
    display: flex;
    align-items: center;
    color: #b8bbbf;
    &:after {
        content: '';
        height: 1px;
        background: currentColor;
        width: 100px;
        display: block;
        margin-left: 20px;
    }
}

img {
  max-width: 100%;
  height: auto !important;
}